<!-- skills section -->
<section class="bg-light p-5" id="about">
    <div class="container-fluid">
        <!-- title -->
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">What we do?</h1>
                <p class="lead text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                    quis ipsa ex officiis, tenetur, accusamus magni.
                </p>
            </div>
        </div>
        <!-- end of title -->
        <div class="row text-center">
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-desktop fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Development</h1>
                <p class="text-muted my-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
                    consequatur necessitatibus nisi, fugiat mollitia quam suscipit
                    maiores error optio magni.
                </p>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-edit fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Design</h1>
                <p class="text-muted my-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
                    consequatur necessitatibus nisi, fugiat mollitia quam suscipit
                    maiores error optio magni.
                </p>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-cogs fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Creativity</h1>
                <p class="text-muted my-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
                    consequatur necessitatibus nisi, fugiat mollitia quam suscipit
                    maiores error optio magni.
                </p>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!-- end of skills section -->
<!-- ==================================================================================== -->
@code {

}
