<!-- skills section -->
<section class="bg-light p-5" id="about">
    <div class="container-fluid">
        <!-- title -->
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">What we do?</h1>
                <p class="lead text-secondary">
                    We make organisation of lunch breaks easy as one click and fast with minimal effort of team members.
                </p>
            </div>
        </div>
        <!-- end of title -->
        <div class="row text-center">
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-utensils fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Meals</h1>
                <p class="text-muted my-5">
                    We make ordering food easy. You can see your team mates orders for inspiration, also you allways can 
                    find link to website menu on restaurant details page.
                </p>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-hamburger fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Restaurants</h1>
                <p class="text-muted my-5">
                    Our application manages all your restaurants preferences, and all important informations about them.
                    Every order is easier to make when you know where to.
                </p>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-lock fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Intimacy</h1>
                <p class="text-muted my-5">
                    If you want to make lunch break aviable only for your team members, you can do it with just one click.
                    On other hand you can make lunch break public and let other people to join you and meet new people.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end of skills section -->
<!-- ==================================================================================== -->
@code {

}
