@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light"
            type="button"
            data-toggle="collapse"
            data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
            <div class="row">
                <!-- SIDEBAR -->
                <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                    <a href=""
                       class="navbar-brand text-white d-block
                mx-auto text-center py-3 mb-4 bottom-border">LunchBreak</a>
                    <div class="bottom-border pb-3 text-center">
                        <a href="" class="text-white">@username</a>
                    </div>
                    <ul class="navbar-nav flex-column mt-4">
                        <li class="nav-item mb-2">
                            <NavLink class="nav-link text-white" href="lunches">
                                <i class="fas fa-utensils text-light fa-lg mr-3"></i>
                                Lunches
                            </NavLink>
                        </li>
                        <li class="nav-item mb-2">
                            <NavLink class="nav-link text-white" href="restaurants">
                                <i class="fas fa-pepper-hot text-light fa-lg mr-3"></i>
                                Restaurants
                            </NavLink>
                        </li>
                        <li class="nav-item mb-2">
                            <NavLink class="nav-link text-white" href="profile/edit">
                                <i class="fas fa-user text-light fa-lg mr-3"></i>
                                Profile
                            </NavLink>
                        </li>
                        <li class="nav-item mb-2">
                            <NavLink class="nav-link text-white" href="users">
                                <i class="fas fa-users text-light fa-lg mr-3"></i>
                                Users
                            </NavLink>
                        </li>
                    </ul>
                </div>
                <!-- END OF SIDEBAR -->
                <!-- TOP NAV -->
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-3">
                            <ul class="navbar-nav">
                                <li class="nav-item ml-md-auto">
                                    <p class="nav-link mb-0" style="cursor: pointer">
                                        <i @onclick="@(() => Logout())" class="fas fa-sign-out-alt text-danger fa-lg mr-2"><span class="px-2">Log Out</span></i>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END OF TOP NAV -->
            </div>
        </div>
    </div>
</nav>


@code {
    private string username = "Generic User";

    protected override async Task OnInitializedAsync()
    {
        username = await AuthService.GetUser();
    }

    private async Task Logout()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/");
        this.StateHasChanged();
    }
}
