<!-- team section -->
<section class="p-sm-5 p-2" id="grades">
    <div class="container-fluid">
        <!-- title -->
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">They said about us:</h1>
                <p class="lead text-dark">
                    Here are a few words of ours satisfied customers.
                </p>
            </div>
        </div>
        <!-- end of title -->
        <div class="row">
            <div class="col-lg-4 col-sm-10 mx-auto mb-4">
                <div class="card">
                    <img src="images/team1.jpg" alt="team1" class="card-img-top" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">Bungalov Rent Team</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">We enjoy using lunch break app for our food order management.</p>
                        </div>
                        <div class="text-right">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x mx-2 text-primary"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter fa-2x mx-2 text-info"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube fa-2x mx-2 text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-4">
                <div class="card">
                    <img src="images/team2.jpg" alt="team2" class="card-img-top" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">ZyniForce Team</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">With Lunch Break application our break is easier ever and we like it a lot.</p>
                        </div>
                        <div class="text-right">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x mx-2 text-primary"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter fa-2x mx-2 text-info"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube fa-2x mx-2 text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-4">
                <div class="card">
                    <img src="images/team3.jpg" alt="team3" class="card-img-top" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">Sinfomium Team</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">Lunch Break app makes all easy, so we can focus on our work.</p>
                        </div>
                        <div class="text-right">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x mx-2 text-primary"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter fa-2x mx-2 text-info"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube fa-2x mx-2 text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of team section -->
<!-- ==================================================================================== -->
@code {

}
