<!-- projects -->
<section class="p-5 bg-secondary" id="lunch">
    <div class="contaioner-fluid">
        <!-- title -->
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">Lunch Break</h1>
                <p class="lead text-white">
                    We can match you with your favourite food from best restaurants.
                </p>
            </div>
        </div>
        <!-- end of title -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!-- <img src="images/project1.jpg" alt="project1" class="img-fluid rounded-circle" /> -->
                <!-- <img src="images/project1.jpg" alt="project1" class="img-thumbnail rounded-circle" /> -->
                <img src="images/pizza2.jpg"
                     alt="project1"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Mario's Pizza</h2>
                <p class="text-white">
                    Our friends at Mario's Pizza can provide you best pizza in town.
                    Their speciality is Margarita pizza, but next to it they are making 13 more types of pizza,
                    allways fresh, hot and ready to serve.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="images/burger.jpg"
                     alt="project2"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Bob's Burgers</h2>
                <p class="text-white">
                    You like big jucy burgers or cheesburgers or bacon burgers then Bob is your man. He can make
                    any kind of burger you want. His family bussines is around for many years, and they are allways happy
                    to meet new customers.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="images/pancake.jpg"
                     alt="project3"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Ljiljana's Pancakes</h2>
                <p class="text-white">
                    Do you have a sweet tooth? Then Ljiljana's Pancakes are the thing you need. She is leady that can make them all.
                    Sweet or Salty you name it, she will make you to fall in low with her pancakes.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="images/pancake2.jpg"
                     alt="project4"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">American Style</h2>
                <p class="text-white">
                    American Style is like its name says it is all american style food. Jucy stakes, american pancakes, all kinds of cookies, 
                    all of that you can find on one place.
                </p>
            </div>
        </div>
    </div>
</section>

@code {

}
