<!-- projects -->
<section class="p-5 bg-secondary" id="lunch">
    <div class="contaioner-fluid">
        <!-- title -->
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">Lunch Break</h1>
                <p class="lead text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                    quis ipsa ex officiis, tenetur, accusamus magni.
                </p>
            </div>
        </div>
        <!-- end of title -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!-- <img src="images/project1.jpg" alt="project1" class="img-fluid rounded-circle" /> -->
                <!-- <img src="images/project1.jpg" alt="project1" class="img-thumbnail rounded-circle" /> -->
                <img src="images/project1.jpg"
                     alt="project1"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Project One</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                    quasi ipsa voluptatem molestiae consequuntur expedita eligendi
                    dignissimos, atque harum fugit.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="images/project2.jpg"
                     alt="project2"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Project Two</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                    quasi ipsa voluptatem molestiae consequuntur expedita eligendi
                    dignissimos, atque harum fugit.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="images/project3.jpg"
                     alt="project3"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Project Three</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                    quasi ipsa voluptatem molestiae consequuntur expedita eligendi
                    dignissimos, atque harum fugit.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="images/project4.jpg"
                     alt="project4"
                     class="img-thumbnail" />
                <h2 class="my-3 text-warning">Project Four</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                    quasi ipsa voluptatem molestiae consequuntur expedita eligendi
                    dignissimos, atque harum fugit.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end of projects -->
<!-- ==================================================================================== -->

@code {

}
